.pagy {
  @apply flex font-semibold text-sm text-gray-500;
  gap: 0.25rem; /* equivalent to gap-1 in Tailwind */
}

.pagy a:not(.gap) {
  @apply block rounded-lg bg-gray-200;
  padding: 0.25rem 0.75rem;
}

.pagy a:not(.gap):hover {
  @apply bg-gray-300;
}

.pagy a:not(.gap):not([href]) {
  @apply text-gray-300 bg-gray-100 cursor-default;
}

.pagy a:not(.gap).current {
  @apply text-white bg-gray-400;
}

.pagy label {
  @apply inline-block whitespace-nowrap bg-gray-200 rounded-lg;
  padding: 0.125rem 0.75rem;
}

.pagy label input {
  @apply bg-gray-100 border-none rounded-md;
}